core
testfpp.P
testfpp.c
testfpp.f
testfpp.temp.P
testfpp.temp.c
testfpp.temp.f
test.e
puredouble
objspuredouble
objspuredouble.cmd.list
deps.puredouble.list
bin2txt
deps.depsbin2txt.list
depsbin2txt
objsdepsbin2txt
objsdepsbin2txt.cmd.list
prepbin2txt
*.o
*.orig
*BASE*
*LOCAL*
*REMOTE*
*~
init.h
init.c
bounds.c
TAGS
coord.backup.c
decs.h
defs.h
deps.depsjoninterp.list
depsjoninterp
generatenprs
global.defnprs.h
global.h
harmgit.latestfixed.mpifixed.tgz
iinterp
initbase.defaultnprlists.c
make.log
objsdepsjoninterp
objsdepsjoninterp.cmd.list
prepiinterp
rancdecs.h
scripts/fulldiffgen.sh
temptempallc35.txt
temptempfinalallc.txt
temptempmyexport.sh
utils/atan2check
decs.general.h
decs.user.h
deps.manypoints.list
deps.onepoint.list
grmhd
manypoints
mpidecs.h
mpidecs.mpi_grmhd_grray_liaison.h
objsmanypoints
objsmanypoints.cmd.list
objsonepoint
objsonepoint.cmd.list
onepoint
prep
superdecs.h
superdecs.pointers.h
supermpidecs.h
superdecs.pointers.rad.h
superdecs.rad.h
advance.deps.manypoints.list
boundmpi.deps.manypoints.list
boundmpiint.deps.manypoints.list
bounds.deps.manypoints.list
bounds.tools.deps.manypoints.list
boundsflux.deps.manypoints.list
boundsint.deps.manypoints.list
boundsvpot.deps.manypoints.list
coord.deps.onepoint.list
copyandinit_functions.deps.manypoints.list
diag.deps.manypoints.list
docs/lorentz.pdf
dudp_calc.deps.onepoint.list
dudp_calc_3vel.deps.onepoint.list
dump.deps.manypoints.list
dump_ener.deps.manypoints.list
dumpgen.deps.manypoints.list
eos.deps.onepoint.list
fail.deps.manypoints.list
fixup.deps.manypoints.list
flux.deps.manypoints.list
flux.mergedc2ea2cmethod.deps.manypoints.list
fluxcompute.deps.onepoint.list
fluxct.deps.manypoints.list
fluxctstag.deps.manypoints.list
fluxvpot.deps.manypoints.list
freespace.deps.onepoint.list
gaussj.deps.onepoint.list
geodesic.deps.manypoints.list
higherorder_pointavg.deps.manypoints.list
image.deps.manypoints.list
init.deps.manypoints.list
init.tools.deps.manypoints.list
initbase.boundloop.deps.onepoint.list
initbase.deps.manypoints.list
initbase.enerregions.deps.manypoints.list
initbase.gridsectioning.deps.manypoints.list
initbase.tools.deps.manypoints.list
interpline.deps.manypoints.list
interpline.jmono.deps.manypoints.list
interpline.mono.deps.manypoints.list
interpline.para.deps.manypoints.list
interpline.smono.deps.manypoints.list
interppoint.deps.manypoints.list
interppoint.para.deps.manypoints.list
koraltests/
koraltests2/
koraltests2_oldphys/
koraltests3/
koraltests4/
koraltests5/
koraltests6/
koraltests7/
koraltests8/
lubksb.deps.onepoint.list
ludcmp.deps.onepoint.list
main.deps.onepoint.list
math.tools.deps.onepoint.list
metric.deps.onepoint.list
metric.tools.deps.onepoint.list
metric_selfgravity_or_evolvemetric.deps.onepoint.list
mnewt.deps.onepoint.list
mpi_fileio.deps.manypoints.list
mpi_fprintfs.deps.manypoints.list
mpi_grmhd_grray_liaison.deps.manypoints.list
mpi_init.deps.manypoints.list
mpi_init_grmhd.deps.manypoints.list
mpi_set_arrays.deps.manypoints.list
mytime.deps.onepoint.list
nrutil.deps.onepoint.list
oldkoral/
oldruns.2/
oldruns.3/
oldruns.4/
oldruns.5/
oldruns.6/
oldruns.7/
oldruns/
paraenohybrid.deps.manypoints.list
phys.coldgrmhd.deps.onepoint.list
phys.deps.onepoint.list
phys.ffde.deps.onepoint.list
phys.tools.deps.onepoint.list
phys.tools.rad.deps.onepoint.list
ranc.deps.onepoint.list
reconstructeno.deps.manypoints.list
rescale_interp.deps.onepoint.list
restart.checks.deps.manypoints.list
restart.deps.manypoints.list
set_arrays.deps.manypoints.list
set_arrays_multidimen.deps.manypoints.list
set_arrays_multidimen.rad.deps.manypoints.list
set_arrays_perpoint_perline.deps.manypoints.list
set_grid.deps.manypoints.list
sources.deps.onepoint.list
step_ch.deps.onepoint.list
tau_neededbyharm.deps.onepoint.list
tensor.deps.onepoint.list
test.make.log
testfpp.deps.onepoint.list
testfpp.temp1.f
tetlapack_func_doubleonly.deps.puredouble.list
tetrad.deps.onepoint.list
transforms.deps.onepoint.list
utoprim.orig.deps.onepoint.list
utoprim_1d.deps.onepoint.list
utoprim_1d_final.deps.onepoint.list
utoprim_1d_opt.deps.onepoint.list
utoprim_2d.deps.onepoint.list
utoprim_2d_final.deps.onepoint.list
utoprim_5d2_final.deps.onepoint.list
utoprim_jon.deps.onepoint.list
utoprim_ldz.deps.onepoint.list
utoprimgen.deps.onepoint.list
vchar.deps.onepoint.list
wavespeeds.deps.manypoints.list
doxygenresults
