bin2txt
deps.depsbin2txt.list
depsbin2txt
objsdepsbin2txt
objsdepsbin2txt.cmd.list
prepbin2txt
*.o
*.orig
*BASE*
*LOCAL*
*REMOTE*
*~
init.h
init.c
bounds.c
TAGS
coord.backup.c
decs.h
defs.h
deps.depsjoninterp.list
depsjoninterp
generatenprs
global.defnprs.h
global.h
harmgit.latestfixed.mpifixed.tgz
iinterp
initbase.defaultnprlists.c
make.log
objsdepsjoninterp
objsdepsjoninterp.cmd.list
prepiinterp
rancdecs.h
scripts/fulldiffgen.sh
temptempallc35.txt
temptempfinalallc.txt
temptempmyexport.sh
utils/atan2check
decs.general.h
decs.user.h
deps.manypoints.list
deps.onepoint.list
grmhd
manypoints
mpidecs.h
mpidecs.mpi_grmhd_grray_liaison.h
objsmanypoints
objsmanypoints.cmd.list
objsonepoint
objsonepoint.cmd.list
onepoint
prep
superdecs.h
superdecs.pointers.h
supermpidecs.h
